@import 'functions';


@mixin button($bg-color, $text-color, $hover-color) {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;
  background-color: $bg-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($color: $bg-color, $amount: 30%) ;
  }
}

@mixin nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  // Función para los estilos de los enlaces de navegación
// Función para los estilos de los enlaces de navegación

  // mixins para el flex

  @mixin flex-container($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
  }



  //mixin para medidas del carrousel 

  @mixin carrousel-dimensiones($ancho, $altura) {
	width: $ancho;
	height: $altura;
	margin-left: calc((100% - #{$ancho}) / 2);
  
	.carrousel__grande {
	  width: calc(#{$ancho} * 3);
	  height: $altura;
	}
  
	.carrousel__img {
	  width: calc(#{$ancho} / 3);
	}
  }
  

  @mixin back_tipo($type){
	@if $type == "fire" {
		background-color: #fa0c00;
	  } @else if $type == "water" {
		background-color: #0074d9;
	  }@else if $type == "rock" {
		background-color: #553007;
	  }@else if $type == "psychic" {
		background-color: #9c00d9;
	  } @else if $type == "grass" {
		background-color: #2ecc40;
	  } @else {
		background-color: #ddd;
	  }
  }
