@mixin neo( $estado ,$br , $dis1 ,$back-color:default){
	color			: var(--negro);
	transition		: all .4s ease;
	border-radius 	: $br ;
	
	@if $estado == 1 {
		background-color	: $back-color;
		box-shadow			: 
			$dis1    $dis1    $dis1*2 var(--sombra-ppal),
			$dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec),
			inset 0 0 0 transparent,
			inset 0 0 0 transparent;
	}@else if $estado == 2 {
		background-color	: $back-color;
		box-shadow			: 
			0 0 0 transparent,
			0 0 0 transparent,
			inset $dis1    $dis1    $dis1*2 var(--sombra-ppal),
			inset $dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec);
	}
    
}


$red: #e3350d;
$yellow: #ffd700;
$black: #000;

@mixin button($bg-color, $text-color, $hover-color) {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;
  background-color: $bg-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  // Función para los estilos de los enlaces de navegación
// Función para los estilos de los enlaces de navegación

  // mixins para el flex

  @mixin flex-container($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
  }



  //mixin para medidas del carrousel 

  @mixin carrousel-dimensiones($ancho, $altura) {
	width: $ancho;
	height: $altura;
	margin-left: calc((100% - #{$ancho}) / 2);
  
	.carrousel__grande {
	  width: calc(#{$ancho} * 3);
	  height: $altura;
	}
  
	.carrousel__img {
	  width: calc(#{$ancho} / 3);
	}
  }
  